@charset "utf-8";
.no-line{
	text-decoration:none !important;}
	
.bluetitlessm A:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0038FF;
	text-decoration: none;
}
.bluetitlessm A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0038FF;
	text-decoration: none;
}
.bluetitlessm A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;

	color: #FF9900;
	text-decoration: none;
}

.bluetitlesmed A:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0038FF;
	text-decoration: none;
	font-size: 12px;
}
.bluetitlesmed A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0038FF;
	text-decoration: none;
	font-size: 12px;
}
.bluetitlesmed A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9900;
	text-decoration: none;
	font-size: 12px;
}
.orangetitlesmed A:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CD2712;
	text-decoration: none;
}
.orangetitlesmed A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CD2712;
	text-decoration: none;
}
.orangetitlesmed A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0038FF;
	text-decoration: underline;
}
/* CSS Document */

A {
	COLOR: #01467D;
	TEXT-DECORATION: none !important;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
A:visited {
	COLOR: #01467D
	}
A:hover {
	COLOR: #B20103;
	TEXT-DECORATION: underline;
	}
.bluelink {
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none !important;
    }
.bluelink A:link {
	COLOR: #000090; 
	TEXT-DECORATION: none;
}
.bluelink A:visited {
	COLOR: #000090; 
	TEXT-DECORATION: none;
}
.bluelink A:hover {
	COLOR: #9090f0; 
	TEXT-DECORATION: underline;
}	
#specProgs{
	
	}

#specProgs  A:link {
	COLOR: #999;
	TEXT-DECORATION: none;
}
#specProgs A:visited {
	COLOR: #666;
	TEXT-DECORATION: none;
}
#specProgs  A:hover {
	COLOR: #B20103;
	TEXT-DECORATION: underline;
}

.graylink {
	FONT-FAMILY: verdana;
    }
.graylink  A:link {
	COLOR: #666;
	TEXT-DECORATION: none;
}
.graylink  A:visited {
	COLOR: #666;
	TEXT-DECORATION: none;
}
.graylink  A:hover {
	COLOR: #B20103;
	TEXT-DECORATION: underline;
}
.greenlink {
	FONT-FAMILY: verdana;
}
.greenlink A:link {
	COLOR: Green;
	TEXT-DECORATION: underline;
}
.greenlink A:visited {
	COLOR: Green;
	TEXT-DECORATION: none;
}
.greenlink A:hover {
	COLOR: #B20103;
	TEXT-DECORATION: underline;
}

.green10pt A:link {
	COLOR: Green;
	TEXT-DECORATION: underline;
}
.green10pt A:visited {
	COLOR: Green;
	TEXT-DECORATION: none;
}
.green10pt A:hover {
	COLOR: #B20103;
	TEXT-DECORATION: underline;
}

.yellowlink {
	FONT-SIZE: 8pt; 
	FONT-FAMILY: verdana;
    }
.yellowlink A:link {
	COLOR: White;
	TEXT-DECORATION: none;
}
.yellowlink A:visited {
	COLOR: White;
	TEXT-DECORATION: none;
}
.yellowlink A:hover {
	COLOR: Yellow;
	TEXT-DECORATION: underline;
}

.orangelink {
	FONT-SIZE: 8pt; 
	FONT-FAMILY: verdana;
    }
.orangelink A:link {
	COLOR: #B20103;
	TEXT-DECORATION: none;
}
.orangelink A:visited {
	COLOR: #B20103;
	TEXT-DECORATION: none;
}
.orangelink A:hover {
	COLOR: #0038FF;
	TEXT-DECORATION: underline;
}
.maroonlink {
	FONT-SIZE: 8pt; 
	FONT-FAMILY: verdana;
    }
.maroonlink A:link {
	COLOR: #990000;
	TEXT-DECORATION: none;
}
.maroonlink A:visited {
	COLOR: #990000;
	TEXT-DECORATION: none;
}
.maroonlink A:hover {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
}
.whitelink {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	font-size: 11px;
}
.whitelink A {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.whitelink A:visited {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.whitelink A:hover {
	COLOR: #CCCCCC;
	TEXT-DECORATION: underline;
}
.header  A:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.header A:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #333333;
	text-decoration: none;
}
.header A:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #CD2712;
	text-decoration: none;
}

	#breadcrumb a:link {
	color: #333333;
	text-decoration : none;
}
	#breadcrumb a:visited {
	color: #333333;
	text-decoration : none;
}
	#breadcrumb a:hover {
	COLOR: #B20103;
	text-decoration : underline;
}
.green10pt a:link {
	color: #006800;
	text-decoration: underline;
}
.green10pt a:visited {
	color: #006800;
	text-decoration: underline;
}
.green10pt a:hover {
	color: #CD2712;
	text-decoration: underline;
}
.sorter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: underline;
	background-image: url(../images/gui/buttons/sort_arrows.gif);
	background-repeat: no-repeat;
	background-position: left center;
	width: auto;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	padding-left: 12px;
	display: block;
}
.purplelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #493193;
}
.purplelink a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #493193;
}
.purplelink a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #493193;
}
.purplelink a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF6600;
}
