@charset "utf-8";
/* CSS Document */

body {
	color : #000000;
	background : #ffffff;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
}
a { 
  text-decoration : underline; 
  color : #0000ff; 
}
#printhead{
	background-color: #FFFFFF;
	vertical-align: middle;
	display: block;
}
#header, #skipcontent, #menu, #searchbar, #footer{

  display : none; 
} 
#container {
	width: 800px;
	text-align: center;
	z-index: 0;
	margin-right: auto;
	margin-left: auto;
}