@charset "utf-8";
/* CSS Document */
.pagin{
	height:24px !important;
	background-color:#f9f9f9;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #eee;
	border-bottom-color: #eee;	
	}
ul.sfliters
{
  margin-left: 5px;
  list-style: none;
  width:210px !important;
  margin-top:-4px;
 
}
.sfliters li{
  line-height: 13px;

}
.sfliters li a{

  text-decoration:none !important;
}
.searchitem {
	BORDER-TOP: #d0d0ff 1px solid;
	BORDER-RIGHT: #d0d0ff 1px solid;
	BORDER-LEFT: #d0d0ff 1px solid;
	BORDER-BOTTOM: #d0d0ff 1px solid;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap;
	color: #01467D;
	line-height: 23px;
	font-weight: bold;
	vertical-align: middle;
	text-decoration: none;
}
.searchitemnox {
	BORDER-TOP: #d0d0ff 1px solid;
	BORDER-RIGHT: #d0d0ff 1px solid;
	BORDER-LEFT: #d0d0ff 1px solid;
	BORDER-BOTTOM: #d0d0ff 1px solid;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 3px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 1px;
	WHITE-SPACE: nowrap;
	color: #01467D;
	line-height: 23px;
	font-weight: bold;
	vertical-align: middle;
	text-decoration: none;
}


#sidebarSearch {
	display: block;
	float: left;
	width: 240px;
	padding-left: 0px;
	margin-bottom: 3px;
	font-size: 0.8em;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
	z-index: 900;
	height: 100%;
	visibility: visible;
	overflow: visible;
	padding-top: 3px;
	background-color:transparent !important;
}
#sidebarSearch    .sbsheaders {
	font-size: 13px;
	color: #CD2712;
	font-weight: bold;
	font-family: Arial, Helvetica;
	text-decoration: none;
	display: block;
	height: 15px;
	text-align: left;
	vertical-align: middle;
	text-indent: .5em;
	padding-top: 2px;
}
#sidebarSearch .seperator {
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	height: 20px;
	text-align: left;
	vertical-align: middle;
	text-indent: 8px;
	padding-top: 2px;
}

#sidebarSearch  .sbsheadersGreen   {
	font-size: 11px;
	color: #009900;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: #dfe9f5;
	display: block;
	height: 20px;
	text-align: left;
	vertical-align: middle;
	text-indent: 8px;
	padding-top: 2px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
}
#sidebarSearch .sbscontainer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	padding-left: 8px;
	padding-bottom: 10px;
	padding-top: 5px;
}
#sidebarSearch .sbscservice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #f1f1f1;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	display: block;
	line-height: normal;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding: 8px;
	margin-bottom: 10px;
}

#sidebarSearch .sbsLinkcontainer     {
	list-style-type: none;
	padding-left: 3px;
	margin-bottom: 11px;
	width: 230px;
	line-height: normal;
}


#sidebarSearch  .sbsfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 4px;
	
}

#sidebarSearch a {
	font-size: 8pt;
	color: #01467D;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#sidebarSearch a:hover {
	font-size: 11px;
	color: #CD2712;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}


#searchlist {
	float: left;
	width: 70%;
	font-family: Verdana;
	font-size : 10pt;
	position: relative;
	top: 0px;
	left: 10px;
	border: 1px solid #999999;
	margin-right: 0px;
	}
#sortbar {
	width: 98%;
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
}
#sortbarDeptView {
	
	top: 5px;
	display: block;
	margin-bottom: 10px;
	background-repeat: repeat-x;
	background-position: center;
}
#sortbarDeptView     .pgHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: normal;
	color: #CD2712;
	letter-spacing: normal;
}
#sidebarSearch .sbssubLinkcontainer {
	list-style-type: none;
	padding-left: 18px;
	margin-bottom: 5px;
	width: 212px;
	letter-spacing: normal;
	word-spacing: normal;
	display: block;
	white-space: normal;
	line-height: normal;
	padding-top: 5px;
}
#sidebarSearch .sbsLinkcontainer br {
	height: 0.1em;
	display: block;
	line-height: 0.1em;
}
#sidebarSearch .sbssubLinkcontainer br {
	height: 0.5em;
	display: block;
	line-height: 0.5em;
}
#sortbarDeptResultsView {
	width: 98%;
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
}
#sortbarDeptResultsView .pgHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: normal;
	color: #CD2712;
	letter-spacing: normal;
}
#sortbar .pgHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: normal;
	color: #CD2712;
	letter-spacing: normal;
}
#sortbar2 {
	width: 100%;
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
	margin-top: 10px;
}
#abcBar {
	background-color: #E6E7D9;
	border: 1px solid #CCCCCC;
}
#abcBar a:link {
	font-weight: bold;
	padding: 4px;
	border: 1px solid #E6E7D9;
}
#abcBar a:visited {
	font-weight: bold;
	padding: 4px;
}
#abcBar a:hover {
	font-weight: bold;
	background-color: #EEEFE7;
	border: 1px solid #00468D;
}
#sortbar3 {
	width: 100%;
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #D2DBE4;
	margin-top: 10px;
}
#term-bar {
	width:98%;
	border: 1px solid #CCC;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	vertical-align:middle;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat:repeat-x; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	display: table;
	clear: both;
}
.term {
	line-height:31px;
	height:31px;
	width:auto;
	font-family: "Myriad Pro", "Trebuchet MS";
	font-weight:bold;
	font-size:20px !important;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration:none !important;
	padding-left: 10px;
	color:#C00;
	text-decoration:none !important;
	font-size: 16px;
	white-space: nowrap;
}
.description-frame {
	min-height:31px;
	margin-top:auto;
	margin-bottom:auto;
	padding-right:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #CCC;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	vertical-align:middle;
	background-color:#fff;
}
.description {
	display:inline-block;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;
	padding-right:0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-align:left !important;
}
.term a {
	color:#C00;
	text-decoration:none !important;
	font-family: "Myriad Pro", "Trebuchet MS";
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	text-decoration:none !important;
}
.term a:hover {
	text-decoration:none !important;
}
.term a:visited {
	color:#C00;
}