 a[href*='search.do'],a[href*="search.do"]::before{
    content:"SEARCH";
    position:relative;color:#000;background-color: rgba(0, 100,100, .8);top:0;left:0; box-shadow:0px 0px 0px 4px rgba(255, 255,0, .8); padding:10px;margin:15px
}
 a[href*='contractor_detail.do'],a[href*="contractor_detail.do"]::before{
    content:"CONTRACTOR";
    position:relative;color:#000;background-color: rgba(0, 100,100, .8);top:0;left:0; box-shadow:0px 0px 0px 4px rgba(255, 255,0, .8); padding:10px;margin:15px
}
a[href*='product_detail.do'],a[href*="product_detail.do"]::before{
    content:"PRODUCT";
    position:relative;color:#000;background-color: rgba(0, 100,100, .8);top:0;left:0; box-shadow:0px 0px 0px 4px rgba(255, 255,0, .8); padding:10px;margin:15px
}


a[href*="contractNumber="]::after{ 	content:"CONTNUM"; }
a[href*="cat="]::after{				content:"CATEGORY"; }
a[href*="gsin="]::after{				content:"GSIN"; }

a[href*="mfrName="]::after{				content:"MFR"; }
a[href*="itemNumber="]::after{  		content:"VENDPART"; content:"MFR"; content:"CONTNUM";}


a[href*="contractNumber="],
a[href*='cat='],
a[href*="gsin="],
a[href*="itemNumber="],
a[href*="mfrName="]
{
    background-color: rgba(100, 255,100, .5);top:0;left:0;
    box-shadow:0px 0px 0px 4px rgba(255, 255,0, .5); padding:10px;margin:15px;position:relative;color:#000;
}



/*  [href*="product_detail.do?gsin"] img{
   box-shadow:0 0 10px 10px rgba(0,0,0,.5), inset 0 0 10px 10px rgba(0,0,0,.5);
 }   */
 /* a[href*="product_detail.do?gsin"] img{
 box-shadow:0 0 10px 10px rgba(0,0,0,.5), inset 0 0 10px 10px rgba(0,0,0,.5);
 } */






 tbody > tr:nth-child(2) > td:nth-child(3) > table > tbody > tr:nth-child(1) > td, span.newOrange.black12pt.arial > strong{
    background-color:rgba(25, 25,255, .2);
}




#container-fluid > div.container-fluid, #sectionheader,#footer,#searchcolumn, #sidebarSearch{
  display:none!important;
}
