
input[type='image']{
	margin-bottom:-9px !important;
	margin-top:5px !important;
	line-height:33px !important;
	padding:0 !important;
}
	 
#skipcontent{
	display:none !important;
	
}

	
.ss-dd{
	max-height:200px;
	overflow:scroll;
	overflow-x:hidden;
	}
body{
	width:100% !important;
	background-image: none !important;
	background-color:#f1f1f1;
}
.img5060 {
	width:50px !important;
	height:60px !important;
	display:block !important;
}
#wrapper {
	
	background-image: none !important;
	
}
ul .flyout-style{
  margin-left: 0;
  list-style: none;
  color:#666666 !important;
text-decoration:none !important;
}
.flyout-style{
	
}
#container {
	width: 990px !important;
	/*text-align: center;
	z-index: 0;
	margin-right: auto;
	margin-left: auto;*/
}
.cart{
	background-image:url(../../../images/refresh/cart-icon.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	min-width:30px;
	text-align:center;
	margin-left:20px;
	margin-top:-3px;
	display:block;
	
	
	}
select.gsa-dd{
	/*border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	*/
	font-size: 7.5pt;
	font-family: "Courier New", Courier, monospace;
	
	}
.head{
	
	visibility:hidden;
	margin-top: -10px !important;

	
}
.gsa-dd-label{
	padding-left:10px !important;
	margin-top:10px !important;
}
optgroup.gsa-dd
{
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	font-style:normal !important;
	background-color:#ccc !important;
	
	
	}
	



option.gsa-dd{
	padding-left:10px !important;
	padding-right:10px !important;
	}
select.rich-dd{
	width:100%;
	font-size:12px !important;
}
optgroup.rich-dd{
	padding-left:10px !important;
	padding-right:10px !important;
	
	font-style:inherit !important;
	font-weight:bold !important;
	
	}	
option.rich-dd{
	padding-left:10px !important;
	padding-right:10px !important;
	font-style:normal !important;
}
	
	
		
p {
	line-height:normal !important;
}
td {
	padding-left:4px !important;
	padding-right:4px !important;
}
.tableheader{
	background-color: #fafafa !important;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2)) !important;
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2) !important;
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2) !important;
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2) !important;
	background-repeat: repeat-x !important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	vertical-align: middle;
}

.hero-back{
	background-image:url(../../../images/gui/carousel/car-fire-650.jpg);
	background-position:right;
	background-repeat:no-repeat;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* - - FRAMES - - */
.form-frame{
	margin-left:20px;}
.frame-home {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;*/
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding:5px;
	margin-bottom:0px;
	background-color:#fff;
}
.frame {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;*/
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding:10px;
	margin-bottom:0px;
	background-color:#fff;
}
.frame-tight {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding:0px !important;
	margin-bottom:10px;
	background-color:#fff;
}
.frame-tight img{
	/*border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-top-left-radius:8px;
	-moz-border-top-right-radius:8px;*/
		-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	width:100%;

	overflow: hidden;

  position: relative;
}
.frame-tight .vert img{
	border-radius:8px;
	
	overflow: hidden;
  width: 100%;
  position: relative;	
}
.frame-no-border{
	
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	
	
	padding:0px !important;
	margin-bottom:0px;
	}
.frame-no-border img{
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-top-left-radius:8px;
	-moz-border-top-right-radius:8px;
	width:100%;	
}
.frame-container{
	
	
	
	padding:8px !important;
	margin-bottom:8px;
	background:none !important;
	}	
.frame-table {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;*/
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding:0px;
	margin-bottom:5px;
	
	background-color:#fff;
}
.frame .img-holder {
	padding: 0px !important;
	margin:0px !important;
}
.frame .img-holder img {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	width:100%;
	display:block;
}

.frame .expand-img {
	padding: 0px !important;
	margin:-10px !important;
}
.frame .expand-img img {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	width:100%;
	display:block;
}

.frame .img-holder.thumb {
	width:100% !important;
	height:100% !important;
}
.blue-title-box {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background-color:#006CB5;
	border:solid 1px #003C93;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	background-color: #006CB5;
	background-image: -moz-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: -ms-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#006CB5)) !important;
	background-image: -webkit-linear-gradient(#0088cc, #006CB5) !important;
	background-image: -o-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: linear-gradient(top, #0088cc, #006CB5) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006CB5', endColorstr='#0088cc', GradientType=0);
	color:#fff !important;
	padding:10px;
	margin-bottom:10px;
}
.blue-title-box h1{
	color:#fff !important;
	margin-bottom:4px !important;
}
.blue-bar-search {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	margin-bottom:10px;
	padding-top: 13px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
/* - - FRAME HEADERS - - */
.header {
	line-height:normal;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	margin-left:-10px;
	width:100%;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	
	

}

.td-header {
	position:relative;
	line-height:normal;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	margin-left:-4px;
	margin-right:-4px ;
	
	width:100%;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:8px;
	padding-right:0px;
	
	background-color: #bbb;
	background-image: -moz-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -ms-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#e0e0e0)) !important;
	background-image: -webkit-linear-gradient(#FFFFFF, #e0e0e0) !important;
	background-image: -o-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
 border-bottom:solid 1px #ccc;
	
	
}
.frame-td {
	border:1px solid #eee;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;*/
	border:1px solid #ccc;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	
	margin-bottom:0px;
	background-color:#fff;
	padding-right:4px !important;
	padding-left:4px !important;
}
.td-header.metalic {
	/*font-size:16px !important;*/
	font-weight:bold !important;
	/*margin-top:-10px !important;*/
	padding-top:4px !important;
	padding-bottom:6px !important;
	padding-right:0px !important;
	
	
	
	margin-top:0px;
	margin-bottom:10px;
	margin-left:-4px;
	margin-right:0px;
	width:100%;
	
	display:block;
	
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	-webkit-top-left-radius:0px;
	-webkit-top-right-radius:0px;
	-moz-top-bottom-left-radius:0px;
	-moz-top-bottom-right-radius:0px;
	background-color: #bbb;
	background-image: -moz-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -ms-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#e0e0e0)) !important;
	background-image: -webkit-linear-gradient(#FFFFFF, #e0e0e0) !important;
	background-image: -o-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
 border-bottom:solid 1px #ccc;
}
.metalic {
        /*font-size:16px !important;*/
        font-weight:bold !important;
        /*margin-top:-10px !important;*/

        padding-top:4px !important;
        padding-bottom:6px !important;
        /*border-top-left-radius:8px;
        border-top-right-radius:8px;
        -webkit-top-left-radius:8px;
        -webkit-top-right-radius:8px;
        -moz-top-bottom-left-radius:8px;
        -moz-top-bottom-right-radius:8px;*/
        margin-left:-10px;
        background-color: #bbb;
        background-image: -moz-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
        background-image: -ms-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#e0e0e0)) !important;
        background-image: -webkit-linear-gradient(#FFFFFF, #e0e0e0) !important;
        background-image: -o-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
        background-image: linear-gradient(top, #FFFFFF, #e0e0e0) !important;
        background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#FFFFFF', GradientType=0);
}
.header-blue {
	margin-top:-10px !important;
	margin-right:-10px !important;
	margin-bottom:10px !important;
	margin-left:-10px !important;
	padding-top:8px !important;
	padding-bottom:10px !important;
	padding-left:10px !important;
	padding-right:20px !important;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-top-left-radius:8px;
	-webkit-top-right-radius:8px;
	-moz-top-bottom-left-radius:8px;
	-moz-top-bottom-right-radius:8px;
	background-color:#006CB5;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	background-color: #006CB5;
	background-image: -moz-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: -ms-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#006CB5)) !important;
	background-image: -webkit-linear-gradient(#0088cc, #006CB5) !important;
	background-image: -o-linear-gradient(top, #0088cc, #006CB5) !important;
	background-image: linear-gradient(top, #0088cc, #006CB5) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006CB5', endColorstr='#0088cc', GradientType=0);
}
.header-tan {
margin-top:-10px !important;
	margin-right:-10px !important;
	margin-bottom:10px !important;
	margin-left:-10px !important;
	padding-top:8px !important;
	padding-bottom:10px !important;
	padding-left:10px !important;
	padding-right:20px !important;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-top-left-radius:8px;
	-webkit-top-right-radius:8px;
	-moz-top-bottom-left-radius:8px;
	-moz-top-bottom-right-radius:8px;
	background-color:#CCCCB7;
	/*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);*/	
	
}
/* - -/\/\/\ SPECIAL COMPONENTS /\/\/\- - */
/* - - Table Title Tab - - */
.tabletitletab{
	width:260px;
	color:#f9f9f9;
	font-size:14px;
	background-color:#666666;
	z-index:1;
	text-align:center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	border-bottom-width: 0px !important;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-top-left-radius:10px;
	-moz-border-top-right-radius:10px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-left-color: #999;
	/*-webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);*/
	
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-left:10px;	
	}

/* - - ADJUSTERS - - */	
.border-right{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.height60{
	height:60px !important;}
.height80{
	height:80px !important;}
	.height90{
	height:90px !important;}
.height100{
	height:100px !important;}
.height120{
	height:120px !important;}
.height140{
	height:140px !important;}
.height180{
	height:180px !important;}
.height220{
	height:220px !important;}
.height250{
	height:250px !important;}
.height320{
	height:320px !important;}
.height420{
	height:420px !important;}
.adj-align-middle {
	vertical-align:middle;
}
.adj-center {
	text-align:center !important;
}
.adj-align-right {
	text-align:right !important;
}
.adj-align-left {
	text-align:left !important;
}
.adj-collapse-line-height {
	line-height:13px !important;
}
/* - - ADJUSTERS - padding - - */	
.adj-pad-4 {
	padding:4px !important;
}
.adj-kill-sides{
	padding-left:8px !important;
	padding-right: 8px !important;
	width:150px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	
	}
.adj-pad-sides {
	padding-left:4px !important;
	padding-right:4px !important;
}
.adj-pad-top {
	padding-top:10px !important;
}
.adj-pad-left {
	padding-left:10px !important;
}
.adj-kill-bottom-pad {
	padding-bottom:0px !important;
}
.adj-kill-left-pad {
	padding-left:0px !important;
}

/* - - ADJUSTERS - margins - - */
.adj-kill-margin {
	margin-bottom:0px !important;
}
.adj-table-kill-margin {
	margin-bottom:0px !important;
}
.adj-margin-4 {
	margin:4px !important;
}
.adj-margin-top {
	margin-top:10px !important;
}
.adj-margin-top-15 {
	margin-top:15px !important;
}
.adj-margin-top-20 {
	margin-top:20px !important;
}
.adj-margin-top-30 {
	margin-top:30px !important;
}
.adj-margin-top-40 {
	margin-top:40px !important;
}
.adj-margin-top-50 {
	margin-top:50px !important;
}
.adj-margin-top-80 {
	margin-top:60px !important;
}
.adj-margin-top-1 {
	margin-top:1px !important;
}
.adj-margin-top-2 {
	margin-top:2px !important;
}
.adj-margin-top-3 {
	margin-top:3px !important;
}
.adj-margin-top-5 {
	margin-top:5px !important;
}
.adj-margin-top-7 {
	margin-top:7px !important;
}

.adj-margin-pull-up-8{
	margin-top:-4px !important;
	
	}
.adj-margin-pull-up-3{
	margin-top:-3px !important;
	
	}
	.adj-margin-pull-up-4{
	margin-top:-4px !important;
	
	}
.adj-margin-pull-up-5{
	margin-top:-5px !important;
	
	}

.adj-margin-pull-up-10{
	margin-top:-10px !important;
	
	}
		
.adj-margin-pull-up{
	margin-top:-20px !important;
	
	}
.adj-margin-pull-up-30{
	margin-top:-30px !important;
	
	}		
.adj-margin-pull-up-40{
	margin-top:-40px !important;
	
	}
.adj-margin-pull-up-50{
	margin-top:-50px !important;
	
	}
.adj-margin-pull-up-60{
	margin-top:-60px !important;
	
	}
.adj-margin-pull-up-80{
	margin-top:-80px !important;
	
	}	
	
.adj-margin-bottom {
	margin-bottom:10px !important;
}
.adj-margin-bottom-3 {
	margin-bottom:3px !important;
}
.adj-margin-bottom-4 {
	margin-bottom:4px !important;
}
.adj-margin-bottom-5 {
	margin-bottom:5px !important;
}
.adj-margin-bottom-20 {
	margin-bottom:20px !important;
}
.adj-margin-bottom-30 {
	margin-bottom:30px !important;
}

.adj-margin-bottom-80 {
	margin-bottom:80px !important;
}

.adj-margin-left-3 {
	margin-left:3px !important;
}
.adj-margin-left-5 {
	margin-left:5px !important;
}
.adj-margin-left-8 {
	margin-left:8px !important;
}
.adj-margin-left {
	margin-left:10px !important;
}
.adj-margin-left-15 {
	margin-left:15px !important;
}
.adj-margin-left-20 {
	margin-left:20px !important;
}
.adj-margin-left-23 {
	margin-left:24px !important;
}
.adj-margin-left-30 {
	margin-left:30px !important;
}
.adj-margin-left-40 {
	margin-left:40px !important;
}
.adj-pull-margin-left-3 {
	margin-left:-3px !important;
}
.adj-pull-margin-left-10 {
	margin-left:-10px !important;
}
.adj-pull-margin-left-20 {
	margin-left:-20px !important;
}
.adj-pull-margin-left-30 {
	margin-left:-30px !important;
}

.adj-pull-margin-left-15 {
	margin-left:-15px !important;
}
.adj-pull-margin-left-20 {
	margin-left:-20px !important;
}
.adj-margin-left-40 {
	margin-left:40px !important;
}
.adj-margin-left-50 {
	margin-left:50px !important;
}
.adj-margin-left-60 {
	margin-left:60px !important;
}
.adj-margin-left-big {
	margin-left:70px !important;
}
.adj-margin-right-3 {
	margin-right:3px !important;
}
.adj-margin-right-5 {
	margin-right:5px !important;
}
.adj-margin-right-8 {
	margin-right:8px !important;
}
.adj-margin-right {
	margin-right:10px !important;
}
.adj-margin-right-80 {
	margin-right:80px !important;
}
.adj-margin-pull-left-micro{
	margin-left:-5px !important;
	
	}
.adj-margin-pull-left-3{
	margin-left:-3px !important;
	
	}
.adj-margin-pull-left-20{
	margin-left:-20px !important;
	
	}
.adj-margin-pull-left-40{
	margin-left:-40px !important;
	
	}	
.adj-hr-reduce {
	margin-top:2px !important;
	margin-bottom:2px !important;
}
/* - - ADJUSTERS - height - - */
.adj-height-20{
	min-height:20px !important;
}
.adj-height-30{
	min-height:30px !important;
}
.adj-height-60{
	min-height:60px !important;
}
.adj-height-120{
	min-height:120px !important;
}
.adj-height-130{
	min-height:130px !important;
}
.adj-height-180{
	min-height:180px !important;
}
.adj-height-250{
	min-height:250px !important;
}
.adj-height-300{
	min-height:300px !important;
}
/* - - ADJUSTERS - width - - */
.adj-width-400{
	width:400px !important;
	
	}
	.adj-width-500{
	width:500px !important;
	
	}
	.adj-width-600{
	width:600px !important;
	
	
	
	}
	.adj-width-700{
	width:700px !important;
	word-wrap: break-word !important;
	}
	.adj-width-980{
	width:775px !important;
	
	
	}
	.adj-height-500{
	min-height:500px !important;
	
	
	}
	
/* SPECIAL FONT STYLES */

.small-print{
	font-size:11px;
	}
.blue-title{
	color:#09F !important;
	
	}
.black-text{
	color:#000 !important;	
	}		
.gray-text{
	color:#999 !important;	
	}
.dk-gray-text{
	color:#333 !important;
	}	
	.white-text{
	color:#fff !important;
	
	}
.red-text{
	color:#ff0000 !important;
	}
.dk-red-text{
	color:#BE2205 !important;
	}	
	
.orange-text{
	color:#DE2C06 !important;
	}
.green-text{
	color:#0C6 !important;	
	}		
.no-bold{
	font-weight:normal !important;}		
.text-large{
	font-size:20px !important;}
.text-xlarge{
	font-size:24px !important;}	
/* - - SPECAIL BORDERS STYLES - - */
.slide-border{
border:1px solid #ccc;	
}
.border-top-bottom {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}
.border-top {
	border-top-width: 1px;
	
	border-top-style: solid;
	
	border-top-color: #ccc;
	
}
.border-bottom {
	
	border-bottom-width: 1px;
	
	border-bottom-style: solid;
	
	border-bottom-color: #ccc;
}
.border-left {
	
	border-left-width: 1px;
	
	border-left-style: solid;
	
	border-left-color: #ccc;
}
.border-right {
	
	border-right-width: 1px;
	
	border-right-style: solid;
	
	border-right-color: #ccc;
}
.border-full {
	border-width: 1px;
	border-style: solid;
}
.border-ltgray {
	border-color: #ccc;
}
.border-dkgray {
	border-color: #666;
}
.border-radius {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.border-top-radius {
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-top-left-radius:8px;
	-moz-border-top-right-radius:8px;
	
}
.shadowbox {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
}
.searchthumb {
	border: 1px solid #999999;
	height: 150px;
	width: 226px;
}
/* BACKGROUND COLORS */
.gray-back{
	background-color:#f5f5f5 !important;
	
	
}




/* /\/\/\ EXPANDING DESCRIPTION /\/\/\ */


.technology{ /*header of 2nd demo*/
	cursor: hand;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	color:#0066CC;
	font-size:12px;
}


.openlanguage{ /*class added to contents of 2nd demo when they are open*/
	
	font-weight: normal;
	margin-bottom: 5px;
}

.closedlanguage{ /*class added to contents of 2nd demo when they are closed*/
	
	font-weight: normal;
}
.notechnology {
	cursor: hand;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 2px;
	
	font-weight:bold !important;
}
.thelanguage {
	margin-bottom: 10px;
	padding-left: 12px;
	
	font-size:inherit;
	font-weight: normal;
	
	line-height: normal;
}


.technology-main{ /*header of 3rd demo*/
	cursor: hand;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	color:#0C518A;
	font-size:12px;
	
	
	padding: 8px 15px;  
}
.main-plus{
	width:20px; height:20px; float:right; margin-top:-20px; margin-right:-8px; position:relative; top:0px; display:inline-block; line-height:20px;}

.openlanguage-main{ /*class added to contents of 2nd demo when they are open*/
	
	font-weight: normal;
	margin-bottom: 5px;
}

.closedlanguage-main{ /*class added to contents of 2nd demo when they are closed*/
	
	font-weight: normal;
}
.notechnology-main {
	cursor: hand;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 2px;
	
	font-weight:bold !important;
}
.thelanguage-main {
	
	padding-left: 12px;
	font-size:inherit;
	font-weight: normal;
	line-height: normal;
	
	
	padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
  background-color:#f5f5f5 !important;
}

.pushtext {
	
	margin-left:13px;
}
.plus{
	background-image: url(../../../images/refresh/gui/gsa-plus.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.minus{
	background-image: url(../../../images/refresh/gui/gsa-minus.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.plus-main{
	background-image: url(../../../images/refresh/gui/gsa-plus.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.minus-main{
	background-image: url(../../../images/refresh/gui/gsa-minus.png);
	background-repeat: no-repeat;
	background-position: right center;
}
.zoom01{
	border-color:#FF0000 !important;
	
}
.s-box{
	
	
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .25);
box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, .25); 
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	
	/*margin-top:3px;
	height:34px;
	width:463px;
	background-color:#fff !important;*/
	-webkit-border-radius: 4px;
border-radius: 4px;
height:28px !important;

	
	
}
.search-field{
	height:28px !important;
	margin-top:8px !important;
	border-collapse:collapse !important;
	/*width:370px;*/
	width:390px;
	border: 1px solid #CCC;
	padding-left:4px;
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .2);
box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .2); 
	
margin-left:-6px !important;

}
.search-height{
	height:32px !important;
}
.btn-search-dd {
  color: #666;
  font-size:10px !important;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .2);
box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .2); 
  
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-search-dd :hover,
.btn-search-dd :active,
.btn-search-dd .active,
.btn-search-dd .disabled,
.btn-search-dd [disabled] {
  color: #ffffff;
  
}
.btn-search-dd :active,
.btn-search-dd .active {
 
}
.caret-search-dd {
  margin-top: 4px;
  margin-left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}	
.dropdown-menu-search-dd{
	font-size:11px !important;
	
	margin-top:0px !important;	
	margin-bottom:0px !important;
	
	position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;	
}

.dropdown-menu-search-dd li{
	height:16px !important;
	margin-top:4px !important;
	margin-bottom:4px !important;
	
}
.dropdown-menu-search-dd li:hover{
	height:16px !important;
	
	margin-top:4px !important;
	margin-bottom:4px !important;
	
}

input.width10{
	width:10px;
	font-size:8pt !important;
}
input.width15{
	width:15px;
	font-size:8pt !important;
}
input.width17{
	width:17px;
	font-size:8pt !important;
}
input.width20{
	width:20px;
	font-size:8pt !important;
}
input.width25{
	width:25px;
	font-size:8pt !important;
}
input.width30{
	width:30px;
	font-size:8pt !important;
}
input.width37{
	width:37px;
	font-size:8pt !important;
}
input.width40{
	width:40px;
	font-size:8pt !important;
}
input.width42{
	width:42px;
	font-size:8pt !important;
}
input.width50{
	width:50px;
	font-size:8pt !important;
}
input.width90{
	width:90px;
	font-size:8pt !important;
}
.advanced{
	position:relative !important;
	top:6px !important;
	border:none !important;
	background-color:transparent !important;
	margin-top:12px;
	margin-left:10px;
	opacity:0.7;
	
}

.advanced:hover{
	opacity:1;
	color:#000;
}
.navbar-inner{
	height:43px !important;
	margin-bottom:0px !important;
}
#banner-fade{
	border:1px solid #ccc;
}
/*input[type="image"]{
	margin-bottom:-8px !important;
	padding:0 !important;
}*/

#breadcrumb {
	color: #666666 !important;
    display: block;
    font-size: 7pt;
    line-height: 12px !important;
    margin-bottom: 10px;
	margin-top:5px;
    margin-left: 2px;
    overflow-x: visible !important;
    overflow-y: visible !important;
    text-align: left !important;
    vertical-align: middle;
    width: 99%;
    z-index: 2;
}

#criteria {
	line-height:normal !important;
	font-size:12px !important;
	}
#criteria img {
	line-height:20px !important;
	
}
#criteria a {
	color: #01467D !important;
	}
#criteria a:hover {
	color: #003399 !important;
	}
.buttonfix{
	line-height:45px !important;
	
	}
.sp-header {
	
	font-weight:bold !important;
	
	padding-top:0px !important;
	padding-bottom:6px !important;
	padding-right:10px !important;
	padding-left:10px !important;
	left:-10px !important;
	top:-10px !important;
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:10px !important;
	width:100%;
	display:block;
	background-color: #bbb;
	background-image: -moz-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -ms-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#e0e0e0)) !important;
	background-image: -webkit-linear-gradient(#FFFFFF, #e0e0e0) !important;
	background-image: -o-linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-image: linear-gradient(top, #FFFFFF, #e0e0e0) !important;
	background-repeat: repeat-x;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);
	 border-bottom:solid 1px #ccc;
 	clear:both;
}

#newsheader {
	background-image: url(/images/adv13/images/gui/bgs/news_header.jpg);
	background-repeat: no-repeat;
	width: 100%;
	left: 0px;
	position: relative;
	height: 150px;
	background-position: center top;
	top: 10px;
	z-index: 10;

}
#newspaper {
	text-align: left;
	display: block;
	padding-right: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 0px;
	top: 0px;
	z-index: 20;
	position: relative;
}
/*.h1     {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	line-height: normal;
	vertical-align: top;
	letter-spacing: normal;
	text-align: left;
	display: block;
	top: 0px;
}
.h2     {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	line-height: 10pt;
	vertical-align: top;
	letter-spacing: normal;
	text-align: left;
	display: block;
	top: 0px;
}*/
a:link {
	color: #01467D;
	text-decoration: underline;
}
a:visited {
	color: #01467D;
	text-decoration: underline;
}
a:hover {
	color: #990000;
	text-decoration: none;
}
.news-story{ margin-bottom:20px;}
.news-story p, .news-story li{font-size:8pt; margin-top:10px;}
.news-title{ font-size:12pt !important; font-weight:bold; margin-top:10px;}