@charset "utf-8";

/* CSS Document */

.greyVertRuleLeft{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.greyVertRuleRight{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
.greyVertRuleCenter{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}
.greyHorzRule{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.greyHorzDashedRule{
	background-image:url(../images/gui/gray_dash.gif);
	background-repeat: repeat-x;
	background-position: center center;
}

#messagecenter {
	display: block;
	position: relative;
	/*float: left;
	
	
	left: 0px;
	top: 0px;*/
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right:auto;
	height: 170px;
	overflow: hidden;
	width:100%;
	clear:both;
	width: 720px;
	
	/*border: 1px solid #CCCCCC;*/
}
/*.messagewindow {
	overflow: scroll;
	width: auto;
	height: 110px;
}*/
#messagecenterform {
	/*display: block;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;*/
	display:block;

	background-repeat: no-repeat;

	width: 100%;
	margin-bottom:10px;
}
#afmessagecenter {
	display: block;
	/*float: left;*/
	width: 100%;
	position: relative;
	/*left: 0px;
	top: 0px;*/
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 105px;
	overflow: scroll;
	overflow-x:hidden;
	margin-right: 0px;
	/*border: 1px solid #CCCCCC;*/
}
.messagefont {
	/*font-family: "Courier New", Courier, monospace;
	font-size: 12px;*/
	font-size: 11px;
	color: #000000;
}
.messagefont a:link {
	/*font-family: "Courier New", Courier, monospace;*/
	color: #0033FF;
}
.messagefont a:visited {
	/*font-family: "Courier New", Courier, monospace;*/
	color: #0033FF;
}
.messagefont a:hover {
	/*font-family: "Courier New", Courier, monospace;*/
	color: #AC0000;
}
