@charset "utf-8";


#c171 {
	display: block;
	float: left;
	width: 162px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 0px;
}
/* CSS Document */

#c220 {
	display: block;
	float: left;
	width: 220px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	background-color: #f1f1f1;
	height: 100%;
	text-align: left;
	z-index: 1200;
	clear: both;
}
#c220menu {
	display: block;
	float: left;
	width: 220px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	background-color: #f1f1f1;
	text-align: left;
	z-index: 1200;
	clear: none;
	height: 100%;
}
#c232 {
	display: block;
	float: left;
	width: 224px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-color: #F1F1F1;
}
#c232img {
	display: block;
	float: left;
	width: 236px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
#c232border {
	display: block;
	float: left;
	width: 224px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-color: #F1F1F1;
}
#c232bpa {
	display: block;
	width: 226px;
	position: relative;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	/*background-image: url(../images/gui/bgs/bpa.jpg);
	background-repeat: no-repeat;*/
	font-size: 8pt;
}

#c232vid {
	display: block;
	float: left;
	width: 234px;
	position: relative;
	left: 10px;
	top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	height: 170px;
	border: 1px solid #CCCCCC;
	padding: 0px;
	clear: right;
}
#c232sal {
	display: block;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/gui/bgs/sal.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	width: 221px;
}
#c232con {
	display: block;
	float: left;
	width: 221px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #F1F1F1;
	background-image: url(../images/gui/bgs/cont.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	clear: none;
}
#c232faq {
	display: block;
	float: left;
	width: 221px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #F1F1F1;
	background-image: url(../images/gui/bgs/faqs.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	clear: none;
}
#c232orders {
	display: block;
	float: left;
	width: 226px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/backgrounds/orderssm.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#c232affeedback {
	display: block;
	float: left;
	width: 226px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/backgrounds/affeedback.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}


#c353 {
	display: block;
	float: left;
	width: 347px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
#c353bordergray {
	display: block;
	float: left;
	width: 347px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-color: #F1F1F1;
}
#c353border {
	display: block;
	float: left;
	width: 347px;
	position: relative;
	left: 10px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 10px;
}

#c474 {
	display: block;
	float: left;
	width: 470px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	z-index: 40;
}
#c474flash {
	display: block;
	float: left;
	width: 482px;
	position: relative;
	left: 10px;
	top: 0px;
	margin-left: 0px;
	z-index: 40;
	height: 170px;
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
}
#c474flash2 {
	display: block;
	float: left;
	width: 481px;
	position: relative;
	left: 0px;
	top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	z-index: 40;
	height: 170px;
	background-color: #000000;
	padding: 0px;
	margin-top: 5px;
}
#c474orders {
	display: block;
	float: left;
	width: 472px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-image: url(../images/backgrounds/orders.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#c474programs {
	display: block;
	float: left;
	width: 462px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	z-index: 40;
	background-image: url(../images/gui/bgs/special_programs.jpg);
	background-repeat: no-repeat;
	clear: left;
	margin: 0px;
	padding: 0px;
	height: 267px;
}



#c716 {
	display: block;
	float: left;
	width: 700px;
	position: relative;
	left: 10px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#c716border {
	display: block;
	float: left;
	width: 716px;
	position: relative;
	left: 10px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
}
#c716container {
	display: block;
	float: left;
	width: 721px;
	position: relative;
	left: 10px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-repeat: no-repeat;
}
#c716alert {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	background-repeat: no-repeat;
	text-align: center;
}
#c716containergray {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #CCCCCC;
	background-color: #F1F1F1;
}
#c716containerblue {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #CCCCCC;
	background-color: #DDEEFF;
}
#c716banner {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-position: 0px 0px;
	border: 1px solid #CCCCCC;
}
#c716bannersp1 {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-image: url(../images/2010/726_banner_barsp1.jpg);
	height: 60px;
	background-position: 0px 0px;
}
#c716programs {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #CCCCCC;
	background-repeat: no-repeat;
	background-image: url(../images/backgrounds/special_programs.jpg);
}
#c716pgbreak {
	display: block;
	float: left;
	width: 727px;
	position: relative;
	left: 10px;
	top: 0px;
	height: 10px;
}
#c716attention {
	display: block;
	float: left;
	width: 686px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	background-repeat: no-repeat;
	text-align: left;
	background-color: #FEFF99;
	border: 1px solid #FF6600;
	background-image: url(../images/attention.jpg);
	background-repeat: no-repeat;
	background-position: 2px 1px;
}
#c716headlineholder {
	display: block;
	float: left;
	width: 700px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	background-repeat: no-repeat;
	border: 1px solid #CCCCCC;
	text-align: left;
	background-image: url(../images/gui/bgs/headlines.jpg);
}


#c960 {
	display: block;
	float: left;
	width: 948px;
	position: relative;
	left: 0px;
	top: 0px;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#c1000alert {
	display: block;
	float: left;
	width: 1000px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-repeat: no-repeat;
	text-align: center;
}
#c716content {
	float: left;
	width: 748px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-repeat: no-repeat;
	text-align: left;
}
#c716welcome {
	display: block;
	float: left;
	width: 726px;
	position: relative;
	left: 10px;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	clear: right;
	background-image: url(../images/backgrounds/welcome_adv.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#c474affeedback {
	display: block;
	float: left;
	width: 470px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../images/backgrounds/affeedback_lg.jpg);
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#skiplink A {
	POSITION: absolute;
	WIDTH: 0px;
	HEIGHT: 0px;
	OVERFLOW: hidden;
	top: 0px;
	left: 0px;
}
#skiplink {
	position: absolute;
	visibility: visible;
	left: 0px;
	top: 0px;
}

#skiplink A:active {
	Z-INDEX: 5; BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #666666; PADDING-LEFT: 5px; WIDTH: auto; PADDING-RIGHT: 5px; HEIGHT: auto; COLOR: #ffffff; FONT-SIZE: 13px; OVERFLOW: visible; BORDER-TOP: #ffffff 1px solid; TOP: 3px; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 3px; LEFT: 3px
}
#skiplink A:focus {
	Z-INDEX: 5; BORDER-BOTTOM: #ffffff 1px solid; POSITION: absolute; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #666666; PADDING-LEFT: 5px; WIDTH: auto; PADDING-RIGHT: 5px; HEIGHT: auto; COLOR: #ffffff; FONT-SIZE: 13px; OVERFLOW: visible; BORDER-TOP: #ffffff 1px solid; TOP: 3px; FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 1px solid; PADDING-TOP: 3px; LEFT: 3px
}
#c232blankback {
	display: block;
	float: left;
	width: 226px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #F1F1F1;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	clear: none;
}
#c232_dhs_login {
	display: block;
	float: left;
	width: 226px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	background-color: #F1F1F1;
	background-image: url(../images/backgrounds/dhs_login.jpg);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#c474int_res {
	display: block;
	float: left;
	width: 483px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	z-index: 40;
	background-image: url(../images/backgrounds/res_int.jpg);
	background-repeat: no-repeat;
	margin-right: 0px;
	clear: left;
	background-position: 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#c716int_res {
	display: block;
	float: left;
	width: 728px;
	position: relative;
	left: 10px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	z-index: 40;
	background-image: url(../images/backgrounds/726res_int.jpg);
	background-repeat: no-repeat;
	margin-right: 0px;
	clear: left;
	background-position: 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}


.menufaq   {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	width: 203px;
	left: 5px;
	position: relative;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.menuad {
	width: 204px;
	left: 7px;
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	border: 1px solid #CCCCCC;
}
#sectionbox {
	display: block;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-repeat: no-repeat;
	width: 221px;
	height: 185px;
}
