@charset "utf-8";
#sectionheader {
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 5px;
}



.greybox {
	border: #cccccc 1px solid;
	}
.greyVertRuleLeft{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: left top;
}
.greyVertRuleRight{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: right top;
}
.greyVertRuleCenter{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}
.greyHorzRule{
	background-image: url(../images/gui/gray_dot.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
.greyHorzDashedRule{
	background-image: url(../images/gui/gray_dash.gif);
	background-repeat: repeat-x;
	background-position: center center;
}
.highlighteditem {
	background-color: #FFFFCC;
	padding: 1px;
	border: 1px solid #333333;
	
}
/* instructions */
#instructions {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	background-color: #f1eee6;
	width: 95%;
	padding-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	background-image: url(../images/icons/instructions.jpg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	float: left;
	padding-right: 5px;
	line-height: normal;
	min-height:20px;
	clear: both;
}
#instructionstab {
	border: 1px solid #CCCCCC;
	width: 927px;
	background-color: #f1eee6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	line-height: normal;
	background-repeat: repeat;
	float: left;
	position: relative;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	left: 5px;
	top: 0px;
	display: block;
	clear: both;
}

/* Error Bar------------------------------------*/
#error {
	width: 95%;
	padding-left: 40px;
	border: 1px solid #FF2F2F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 8px;
	background-color: #FF9D9D;
	background-image: url(../images/icons/error.jpg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	float: left;
	padding-right: 5px;
	min-height:20px;
	clear: both;
}
#error a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #620000;
	text-decoration: underline;
}
#error a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #990000;
	text-decoration: underline;
}
/* attention bar-----------------------------------*/
#attention {
	width: 95%;
	margin-left: auto;
	padding-left: 40px;
	border: 1px solid #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-bottom: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #FEFF99;
	background-image: url(../images/icons/attention.jpg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding-top: 8px;
	padding-right: 5px;
	text-align: left;
	margin-right: auto;
	display: block;
	float: left;
	min-height:20px;
	clear: both;
	vertical-align: top;
}
#attention a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #B00000;
	text-decoration: underline;
}
#attention a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #990000;
	text-decoration: underline;
}
#buttonbar {
	width: 98%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	line-height: normal;
	background-repeat: repeat;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: right;
	vertical-align: middle;
	margin-right: auto;
}
.tableheader{
	background-image: url(../images/gui/bgs/headerfill_01.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	vertical-align: middle;

}
.pricehighlight {
	background-color: #DEF79B;
	padding: 2px;
	border: 1px solid #333333;
	font-size: 7pt;
}
.sectionblock {
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #f9f9f9;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.sectionpanel {
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.sectionpanel2 {
	top: 5px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_02.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.sectionpanel3 {
	top: 5px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
}
#loginbox {
	background-image: url(../images/gui/bgs/login_box.jpg);
	background-repeat: no-repeat;
	width: 800px;
	margin-left: 20px;
	margin-top: 20px;
}
#loginbox2 {
	background-repeat: no-repeat;
	width: 800px;
	margin-left: 20px;
	margin-top: 20px;
}
.po {
	top: 5px;
	margin-bottom: 5px;
	border: 1px solid #666666;
	background-image: url(../images/gui/bgs/grad_fill_03.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #C8E7EC;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.blackbox {
	border: 1px solid #666666;
}
.sectionpanel4 {
	top: 5px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 10px;
}
#thankyou {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #8CBF83;
	background-color: #D0F1C2;
	width: 95%;
	padding-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-top: 8px;
	background-image: url(../images/icons/thankyou.jpg);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	float: left;
	padding-right: 5px;
	line-height: normal;
	min-height:20px;
}
.bluehighlighteditem {
	background-color: #2D7DD2;
	border: 1px solid #333333;
	padding-top: 1px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	color: #FFFFFF;
}
.returnnumber {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	background-image: url(../images/gui/buttons/functions/buy-compare_back.gif);
	background-repeat: no-repeat;
	background-position: right -5px;
	height: 15px;
	width: 115px;
	display: block;
	text-align: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
	font-weight: bold;
	float: right;
}
.searchfade {
	background-color: #F9F9F9;
	background-image: url(../images/gui/bgs/search_record_fade.jpg);
	background-repeat: repeat-y;
	background-position: right;
}
.buycompare {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	background-image: url(../images/gui/buttons/functions/buy-compare_back.gif);
	background-repeat: no-repeat;
	background-position: right -5px;
	height: 15px;
	width: 115px;
	display: block;
	text-align: center;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
	font-weight: bold;
	float: left;
}
.buycompare a:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;

}
.compare {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	background-image: url(../images/gui/buttons/functions/compare_back.gif);
	background-repeat: no-repeat;
	background-position: right -5px;
	height: 15px;
	width: 115px;
	display: block;
	text-align: center;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
	font-weight: bold;
	float: left;
}
.sectionpanel5 {
	top: 0px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 10px;
}
.highlighteditem2 {
	background-color: #FFFFCC;
	border: 1px solid #333333;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}
.sectionpanel6 {
	top: 0px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 10px;
	width: 100%;
}
.newsbox {
	top: 0px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/news_fade.jpg);
	background-repeat: repeat-y;
	background-position: right top;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 10px;
}
.tableheadersm {
	background-image: url(../images/gui/bgs/headerfill_01.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
}
.topborder {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.adbox {
	border: 1px solid #999999;
	height: 150px;
	width: 226px;
}
.adboxthumb {
	border: 1px solid #999999;
	height: 80px;
	width: 120px;
}
.sectionpanel7 {
	top: 0px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	background-color: #FFFFFF;
	padding: 4px;
}
.sectionpanel8 {
	top: 0px;
	display: block;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.sectionpanel9 {
	top: 5px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/grad_fill_01.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
}
.sectionpanel10 {
	top: 5px;
	display: block;
	border: 1px solid #CCCCCC;
	background-image: url(../images/gui/bgs/fp_3box_fill.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #D2DBE4;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
#sorttable {
	border: 1px solid #CCCCCC;
}
.attentioncart {
	border: 1px solid #FF6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #FEFF99;
	min-height:20px;
}
.attentioncart a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #B00000;
	text-decoration: underline;
}
option.levelone{
	background-color: #AAC5FC;


}
option.leveltwo{
	background-color: #CCDCFD;

}
option.levelthree{
	font-size: 7pt;
	background-color: #E7EEFE;
}
option.levelonealt{
	background-color: #FFCC99;


}
option.leveltwoalt{
	background-color: #FFDCB9;

}
option.levelthreealt{
	font-size: 7pt;
	background-color: #FFEAD5;
}
.highlighteditem3 {
	background-color: #FFFFCC;
	border: 1px solid #333333;
	padding: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
